@import url('common.css');

/* ===== CONTACT PAGE ===== */
table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
  background-color: #f2faff;
}

th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
}

thead {
  background-color: #3a7bd5;
  color: white;
}

tbody tr:hover {
  background-color: #e0f2ff;
}

a {
  color: #3a7bd5;
  text-decoration: none;
}
div {
  max-width: 1000px;
  margin: 40px auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
